*{
    margin: 0;
    padding: 0;
}

.max-width{
max-width: 1030px;
margin: auto;
padding:12px ;

}

ul{
    /* background-color: red; */
    padding: 25px;
    display: flex;
    justify-content: right;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    gap: 20px;
    align-items: center;
}
ul li{
    cursor: pointer;
}
ul li:hover{
    border-bottom: 4px solid black;
}
.main-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: greenyellow; */
    height: 400px;
}
.img-1 img{
    height: 320px;
    width: 320px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: none;
}
.hero-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.hero-btn{
    width: 30%;
    padding: 12px;
   
    border-radius: 2px;
    color: white;
    background-color: rgba(255, 100, 100, 1);
    cursor: pointer;
     border: none;
}
.card-main{
    background-color: rgba(237, 247, 250, 1);
    height: 450px;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 14px;

}
.card-heading a{
    text-decoration: none;
}
.card{
   width: 438px;
   height: 295px; 
   background-color: white;
  padding: 23px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 20px black;
}
.tear{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 3px 5px;

}
.dashboard{
    color: rgb(148, 141, 128);
    margin-left: 12px;
}
.container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.container-1{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

footer{
     height: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 12px;
}
footer div{
    
   
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
}
footer div i{
    font-size: 30px;
    cursor: pointer;
}
footer div i:hover{
    background-color: black;
    border-radius: 10px;
    color: white;   
}